[submodule "libs/SFML"]
	path = libs/SFML
	url = https://github.com/SFML/SFML.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/imgui-sfml"]
	path = libs/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
